<header>
    <div class="navHeader">
        <!-- <a href="/"><i class="fa-solid fa-house"></i></a> -->
        <a href="/"><i class="fa-solid fa-house" style="color:rgb(1, 16, 1)" ></i></a>
        <link rel="stylesheet" href="/css/header.css">
    </div>
</header>