<html>
<head>
    <title> <%= title %> </title>
</head>
<body>
    
    <form action="projectDetails/addIssue" method="post">
        <input type="text" name="title" placeholder="Type in the title.." required>
        <input type="text" name="description" placeholder="Add description.." required>
        <input type="text" name="author" placeholder="Add in your name" required>
        <button>Create Issue</button>
    </form> 

</body>
</html>