<html>
<head>
</head>
<body>
    
    <form action="create-Project" method="post">
        <input type="text" name="name" placeholder="Type in your project name.." required>
        <input type="text" name="description" placeholder="Add description.." required>
        <input type="text" name="author" placeholder="Add in name of the author" required>
        <button>Add Project</button>
    </form>


</body>
</html>