.card-header{
    width: 95vw;
    /* width: 100vw; */
    height: 20px;
    margin: 0;
    background-color: dodgerblue;
    padding: 20px 50px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blockquote-footer{
    margin-top: 1rem;
    /* color: rgb(91, 85, 85); */
}

.card-header p{
    margin-top: 1rem;
}