.card-header{
    width: 95vw;
    height: 20px;
    margin: 0;
    background-color: dodgerblue;
    padding: 20px 50px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}